
alias g=git
alias gh=hub
alias sed=gsed

alias l=ll
alias ll="ls -l"
alias ls="ls -A --color"

alias sudo="sudo "
alias wm1="wm -H"
alias wm="wget -km"
alias map="xargs -n1"
alias rsync="rsync -av --stats --progress"

alias brewup="brew update && brew upgrade && brew cleanup"
alias npmup="npm install npm -g && npm update -g"
alias pipup="pip-review --interactive"

alias jenkins="nohup jenkins >/dev/null 2>&1 &"

alias rmds="sudo gfind . -type f -name .DS_Store -exec rm {} \;"
alias dsflush="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias lsclean="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister \
-kill -r -domain local -domain system -domain user && killall Finder"
