
GOAGENT="http://127.0.0.1:8087"
alias p1="export http_proxy=$GOAGENT https_proxy=$GOAGENT"
alias p0="unset http_proxy https_proxy"

alias g=git
alias gh=hub
alias l=ll
alias ll="ls -l"
alias ls="ls -A --color"
alias map="xargs -n1"
alias sudo="sudo "
alias rsync="rsync -av --stats --progress"

alias brewup="brew update && brew upgrade && brew cleanup"
alias npmup="npm install npm -g && npm update -g"
alias pipup="pip-review --interactive"

alias jenkins="nohup jenkins >/dev/null 2>&1 &"

alias ip="ipconfig getifaddr en0; dig +short myip.opendns.com @resolver1.opendns.com"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

alias dsflush="dscacheutil -flushcache && killall -HUP mDNSResponder"
alias lsclean="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister \
-kill -r -domain local -domain system -domain user && killall Finder"
alias rmtrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
alias rmds="sudo gfind . -type f -name .DS_Store -exec rm {} \;"

alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
